.top-classes-sec {
  background-image: url("../../../../../assets/images/gradient-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-img {
  height: 210px;
  object-fit: cover;
}
