<section class="bg-body-tertiary py-5">
  <div class="container py-5">
    <div data-aos="fade-down" data-aos-easing="ease-out-back">
      <!-- Title -->
      <h2 class="text-center fw-bold text-main mx-auto col-lg-5" i18n>
        Our Latest News Feed
      </h2>
      <p
        class="small text-center text-body-secondary mx-auto col-lg-4 mb-5"
        i18n
      >
        Lorem Ipsum is simply dummy text of the printing and typesetting
      </p>
    </div>

    <!-- Cards -->
    <div class="row" data-aos="fade-up" data-aos-easing="ease-out-back">
      <div class="col-md-6 col-lg-4 mb-3" *ngFor="let item of cards">
        <div class="card rounded-4 p-4">
          <img
            [src]="item['imgUrl']"
            class="card-img-top rounded-4"
            alt="..."
          />

          <div class="my-3">
            <p class="card-text">
              <img src="./assets/icons/calender.svg" />

              <small class="mx-2" style="font-size: 12px">
                {{ item["created_at"] | date }}
              </small>
            </p>
            <h5 class="card-title">{{ item["course_name"] | titlecase }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
