<section class="bg-body-tertiary">
  <div class="container py-5">
    <div class="row align-items-center">
      <div
        class="col-md-6 mb-4"
        data-aos="fade-right"
        data-aos-easing="ease-out-back"
      >
        <img src="./assets/images/splited-call-center-girl.png" class="w-75" />
      </div>

      <div
        class="col-md-6 mb-4"
        data-aos="zoom-out"
        data-aos-easing="ease-out-back"
      >
        <h2 class="fw-semibold mb-4" i18n>
          Don’t worry we’re always here to help you
        </h2>

        <p class="text-body-secondary mb-4" i18n>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s,
        </p>

        <ul class="list-unstyled">
          <li class="d-flex align-items-center gap-2 mb-2">
            <img src="./assets/icons/ArrowRight.svg" />
            <span>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </span>
          </li>
          <li class="d-flex align-items-center gap-2 mb-2">
            <img src="./assets/icons/ArrowRight.svg" />
            <span>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </span>
          </li>
          <li class="d-flex align-items-center gap-2 mb-2">
            <img src="./assets/icons/ArrowRight.svg" />
            <span>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </span>
          </li>
          <li class="d-flex align-items-center gap-2 mb-2">
            <img src="./assets/icons/ArrowRight.svg" />
            <span>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </span>
          </li>
        </ul>

        <div class="d-flex align-items-center gap-2 mt-5">
          <svg
            width="56"
            height="56"
            viewBox="0 0 56 56"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="28" cy="28" r="28" fill="white" />
            <path
              d="M37 21.25L28 29.5L19 21.25"
              stroke="#14B3E0"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M19 21.25H37V34C37 34.1989 36.921 34.3897 36.7803 34.5303C36.6397 34.671 36.4489 34.75 36.25 34.75H19.75C19.5511 34.75 19.3603 34.671 19.2197 34.5303C19.079 34.3897 19 34.1989 19 34V21.25Z"
              stroke="#14B3E0"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M26.3638 28L19.2314 34.5381"
              stroke="#14B3E0"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M36.7692 34.5381L29.6367 28"
              stroke="#14B3E0"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <div>
            <p class="text-body-tertiary fw-semibold mb-0">
              <small i18n>Email us, anytime anywhere</small>
            </p>
            <p class="fw-semibold mb-0">help.Tutorhub &#64; mail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
