<section class="subs-sec position-relative pt-3">
  <div class="overlay bg-dark opacity-25 z-0"></div>
  <img
    src="./assets/icons/bg/dots.svg"
    class="position-absolute translate-middle top-50 start-25"
  />

  <div class="container position-relative z-1">
    <div
      class="d-flex flex-wrap justify-content-center align-content-center gap-5"
    >
      <!-- col 2 -->
      <div
        class="d-flex flex-column justify-content-center text-center text-lg-start col-lg-5 my-5"
        data-aos="fade-left"
        data-aos-easing="ease-out-back"
      >
        <h2 class="text-light fw-normal mb-4" i18n>
          Want to stay about
          <span class="fw-bold">informed</span>
          new
          <span class="fw-bold">courses & study?</span>
        </h2>

        <!-- Subs form -->
        <form
          class="d-flex gap-1"
          [formGroup]="subsForm"
          (ngSubmit)="OnSubsSubmit()"
        >
          <input
            formControlName="email"
            type="email"
            class="form-control rounded-pill px-4 shadow-sm"
            placeholder="Type your e-mail"
            i18n-placeholder
          />

          <button
            class="btn btn-outline-main fw-semibold rounded-pill shadow-sm text-nowrap px-4"
            i18n
          >
            Contact US
          </button>
        </form>
      </div>

      <!-- col1 -->
      <div
        class="order-lg-first"
        data-aos="fade-right"
        data-aos-easing="ease-out-back"
      >
        <img src="./assets/images/subs-section-girl.png" alt="" />
      </div>
    </div>
  </div>
</section>
