<section class="container">
  <div class="row align-items-center my-5">
    <div
      class="col-md-6 mb-4"
      data-aos="zoom-out"
      data-aos-easing="ease-out-back"
    >
      <h2 class="fw-semibold mb-4" i18n>What is Preply Business?</h2>
      <p class="text-body-tertiary mb-4" i18n>Flexible program management</p>

      <p class="mb-4" i18n>
        Track employees’ participation, allocate lessons, and get help any time
        you need it.
      </p>

      <button class="btn btn-main rounded-pill px-5">
        <span class="fw-medium" i18n>Book A demo</span>
        <i class="bi bi-arrow-right-short"></i>
      </button>
    </div>

    <div
      class="col-md-6 mb-4"
      data-aos="fade-left"
      data-aos-easing="ease-out-back"
    >
      <img src="./assets/images/splited-girl-img.png" class="w-75" />
    </div>
  </div>
</section>
