<section class="bg-body-tertiary py-5">
  <div class="container">
    <h2
      class="fw-bold col-10 col-lg-5 text-center mx-auto my-4"
      i18n
      data-aos="fade-down"
      data-aos-easing="ease-out-back"
    >
      How you'll become successful instructor
    </h2>

    <div class="row" data-aos="fade-up" data-aos-easing="ease-out-back">
      <div class="col-md-6 col-xl-3 mb-3">
        <div class="card card-body text-center border-0 p-3">
          <img
            src="./assets/icons/colored/policy.svg"
            class="mx-auto mb-4"
            width="60px"
          />
          <h6 i18n>1. Apply to become instructor.</h6>
          <p class="text-body-tertiary m-0">
            <small>
              <small i18n>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been
              </small>
            </small>
          </p>
        </div>
      </div>

      <div class="col-md-6 col-xl-3 mb-3">
        <div class="card card-body text-center border-0 p-3">
          <img
            src="./assets/icons/colored/personal-card.svg"
            class="mx-auto mb-4"
            width="60px"
          />
          <h6 i18n>2. Setup & edit your profile.</h6>
          <p class="text-body-tertiary m-0">
            <small>
              <small i18n>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been
              </small>
            </small>
          </p>
        </div>
      </div>

      <div class="col-md-6 col-xl-3 mb-3">
        <div class="card card-body text-center border-0 p-3">
          <img
            src="./assets/icons/colored/video.svg"
            class="mx-auto mb-4"
            width="60px"
          />
          <h6 i18n>3. Create your new course</h6>
          <p class="text-body-tertiary m-0">
            <small>
              <small i18n>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been
              </small>
            </small>
          </p>
        </div>
      </div>

      <div class="col-md-6 col-xl-3 mb-3">
        <div class="card card-body text-center border-0 p-3">
          <img
            src="./assets/icons/colored/hands.svg"
            class="mx-auto mb-4"
            width="60px"
          />
          <h6 i18n>4. Start teaching & earning</h6>
          <p class="text-body-tertiary m-0">
            <small>
              <small i18n>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been
              </small>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
