<section class="container">
  <div class="row align-items-center my-5">
    <div
      class="col-md-6 mb-4"
      data-aos="zoom-out"
      data-aos-easing="ease-out-back"
    >
      <h2 class="fw-semibold mb-4" i18n>
        Teach students from over 180 countries
      </h2>
      <p class="text-body-tertiary mb-4" i18n>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s,
      </p>

      <ul class="text-dark mb-5">
        <li>Steady stream of new students</li>
        <li>Smart calendar</li>
        <li>Interactive classroom</li>
        <li>Convenient payment methods</li>
        <li>Professional development webinars</li>
        <li>Supportive tutor community</li>
        <li>Create a tutor profile now</li>
      </ul>

      <button
        class="btn btn-main rounded-pill d-flex justify-content-between align-items-center gap-3"
      >
        <span class="fw-medium" i18n>Create A Tutor Profile Now</span>
        <svg
          width="16"
          height="14"
          viewBox="0 0 16 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.15723 6.95996H14.2822M14.2822 6.95996L8.65723 1.33496M14.2822 6.95996L8.65723 12.585"
            stroke="white"
            stroke-width="1.875"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>

    <div
      class="col-md-6 mb-4"
      data-aos="fade-left"
      data-aos-easing="ease-out-back"
    >
      <img src="./assets/images/splited-girl-img.png" class="w-75" />
    </div>
  </div>
</section>
