<main class="overflow-hidden">
  <section class="shadow-sm border-bottom border-5 z-3 py-5 overflow-hidden">
    <!-- Overlay -->
    <img
      src="./assets/images/girl-in-meeting.png"
      class="img-overlay object-fit-cover"
    />
    <div class="overlay"></div>
    <!-- circles -->
    <img
      class="position-absolute top-0 start-0 col-3"
      style="transform: translate(-100px, 0px)"
      src="./assets/icons/bg/bg-circles.svg"
    />

    <div class="container position-relative z-3 pt-5 my-5">
      <h1 class="fw-bolder">
        <span class="text-light" i18n>Coporate Training</span>
      </h1>
    </div>
  </section>

  <section class="container text-center my-5">
    <h2 class="fw-bold mb-4" i18n>Corporate language training for companies</h2>
    <p class="fw-bold">
      Our expert tutors train employees worldwide to speak confidently with
      international colleagues and clients
    </p>

    <img src="./assets/images/image 31.png" class="w-100 my-4" />

    <button class="btn btn-main rounded-pill px-5 mt-5">
      <span class="fw-medium" i18n>Book A demo</span>
      <i class="bi bi-arrow-right-short"></i>
    </button>
  </section>

  <section
    class="container bg-body-secondary bg-opacity-50 text-center p-4 my-5"
  >
    <img src="./assets/images/Frame 2.png" class="w-75" />
    <div class="h4 mb-0 mt-4">
      <span> Join our </span>
      <p class="text-light d-inline-block position-relative">
        <svg
          class="position-absolute start-50 translate-middle top-50 z-0"
          width="110%"
          height="110%"
          viewBox="0 0 575 61"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M34.1214 6.52585C216.97 -2.33588 369.782 -0.830722 560.74 5.64948C569.871 6.01262 576.188 8.66438 574.812 11.5611C568.788 25.107 564.909 37.9829 563.18 50.189C563.054 52.6887 555.988 54.9098 547.45 55.1462C369.771 61.0916 195.523 61.9248 24.7033 57.646C16.4166 57.4349 8.75548 55.0787 7.5672 52.3931C1.33397 39.6692 7.52573 27.9021 0 15.4935C5.5864 10.8126 7.11398 10.0132 15.1432 8.51859"
            fill="#10B0DF"
          />
        </svg>
        <span class="position-relative z-3" i18n
          >International Certificate
        </span>
      </p>
      <span> courses, With Our experts </span>
    </div>
  </section>

  <app-create-profile></app-create-profile>

  <app-call-center></app-call-center>

  <section>
    <div class="container my-5">
      <div
        class="row justify-content-around bg-main-lighter text-light rounded-5 shadow p-5 mx-2"
      >
        <div class="col-5 col-lg-2 text-center mb-5 mb-lg-0">
          <h2>{{ persentageData["support"] }}%</h2>
          <p class="small" i18n>
            expect support from their employer with foreign language skills
          </p>
        </div>

        <div class="vr v-gradient d-none d-lg-block p-0"></div>

        <div class="col-5 col-lg-2 text-center">
          <h2>{{ persentageData["useLangs"] }}%</h2>
          <p class="small" i18n>use a foreign language frequently at work</p>
        </div>

        <div class="vr v-gradient p-0"></div>

        <div class="col-5 col-lg-2 text-center">
          <h2>{{ persentageData["agreeLangs"] }}%</h2>
          <p class="small" i18n>
            agree that foreign language skills have benefitted their career
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-body-tertiary">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 mb-4">
          <img src="./assets/images/06.png" class="w-75" />
        </div>

        <div class="col-md-6 mb-4 d-flex flex-column justify-content-between">
          <p class="text-center mb-4" i18n>
            “Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.”
          </p>

          <div>
            <p class="fw-bolder mb-2" i18n>Kristin Watson</p>
            <p class="fw-bold small text-main" i18n>CEO, Rome</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container my-5">
    <h2 class="text-center fw-bolder mb-4" i18n>Frequently asked questions</h2>
    <p class="text-center text-body-secondary" i18n>
      Get the best services at the lowest price
    </p>

    <div class="row g-0">
      <div class="col-lg-6 col-xl-4 d-flex gap-3 p-3">
        <i class="bi bi-question-circle-fill text-main-lighter fs-5"></i>
        <div>
          <p class="fs-5 fw-bold">How long do payouts take?</p>
          <p class="text-body-secondary">
            Once you’re set up, payouts arrive in your bank account on a 2-day
            rolling basis. Or you can opt to receive payouts weekly or monthly.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 d-flex gap-3 p-3">
        <i class="bi bi-question-circle-fill text-main-lighter fs-5"></i>
        <div>
          <p class="fs-5 fw-bold">How much do disputes cost?</p>
          <p class="text-body-secondary">
            Disputed payments (also known as chargebacks) incur a $15.00 fee. If
            the customer’s bank resolves the dispute in your favor, the fee is
            fully refunded.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 d-flex gap-3 p-3">
        <i class="bi bi-question-circle-fill text-main-lighter fs-5"></i>
        <div>
          <p class="fs-5 fw-bold">How much do disputes cost?</p>
          <p class="text-body-secondary">
            Disputed payments (also known as chargebacks) incur a $15.00 fee. If
            the customer’s bank resolves the dispute in your favor, the fee is
            fully refunded.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 d-flex gap-3 p-3">
        <i class="bi bi-question-circle-fill text-main-lighter fs-5"></i>
        <div>
          <p class="fs-5 fw-bold">How much do disputes cost?</p>
          <p class="text-body-secondary">
            Disputed payments (also known as chargebacks) incur a $15.00 fee. If
            the customer’s bank resolves the dispute in your favor, the fee is
            fully refunded.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 d-flex gap-3 p-3">
        <i class="bi bi-question-circle-fill text-main-lighter fs-5"></i>
        <div>
          <p class="fs-5 fw-bold">How long do payouts take?</p>
          <p class="text-body-secondary">
            Disputed payments (also known as chargebacks) incur a $15.00 fee. If
            the customer’s bank resolves the dispute in your favor, the fee is
            fully refunded.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 d-flex gap-3 p-3">
        <i class="bi bi-question-circle-fill text-main-lighter fs-5"></i>
        <div>
          <p class="fs-5 fw-bold">How much do disputes cost?</p>
          <p class="text-body-secondary">
            Disputed payments (also known as chargebacks) incur a $15.00 fee. If
            the customer’s bank resolves the dispute in your favor, the fee is
            fully refunded.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-body-tertiary">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 mb-4">
          <img src="./assets/images/05.png" class="w-75" />
        </div>

        <div class="col-md-6 mb-4">
          <h2>Find out more about Preply corporate language training</h2>
          <p class="small" i18n>
            Already use Dlex? Sign in so we can tailor your support experience.
            If that’s not possible, we’d still like to hear from you.
          </p>

          <form class="mt-4">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label mb-1">Your name</label>
                <input type="text" class="form-control bg-transparent" />
              </div>

              <div class="col-md-6 mb-3">
                <label class="form-label mb-1">Email address</label>
                <input type="text" class="form-control bg-transparent" />
              </div>

              <div class="col-md-6 mb-3">
                <label class="form-label mb-1">Phone number</label>
                <input type="text" class="form-control bg-transparent" />
              </div>

              <div class="col-md-6 mb-3">
                <label class="form-label mb-1">Job Function</label>
                <input type="text" class="form-control bg-transparent" />
              </div>

              <div class="mb-3">
                <label class="form-label mb-1">Message</label>
                <input type="text" class="form-control bg-transparent" />
              </div>
            </div>

            <button class="btn btn-main">Book a demo</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-5">
      <div
        class="row justify-content-around bg-main-lighter text-light rounded-5 shadow p-5 mx-2"
      >
        <div class="col-5 col-lg-2 text-center mb-5 mb-lg-0">
          <h2>{{ siteAnalicis?.['activeStudents'] | numberFormat }}</h2>
          <p class="small" i18n>Active Students</p>
        </div>

        <div class="vr v-gradient p-0 mb-5 mb-lg-0"></div>

        <div class="col-5 col-lg-2 text-center mb-5 mb-lg-0">
          <h2>{{ siteAnalicis?.['facultyCourses'] | numberFormat }}</h2>
          <p class="small" i18n>Faculty Courses</p>
        </div>

        <div class="vr v-gradient d-none d-lg-block p-0"></div>

        <div class="col-5 col-lg-2 text-center">
          <h2>{{ siteAnalicis?.['bestProfessors'] | numberFormat }}</h2>
          <p class="small" i18n>Best Professors</p>
        </div>

        <div class="vr v-gradient p-0"></div>

        <div class="col-5 col-lg-2 text-center">
          <h2>{{ siteAnalicis?.['awardAchieved'] | numberFormat }}</h2>
          <p class="small" i18n>Award Achieved</p>
        </div>
      </div>
    </div>
  </section>

  <app-latest-news-section></app-latest-news-section>
</main>
