<main class="overflow-hidden">
  <app-landing></app-landing>

  <section
    class="container bg-body-secondary bg-opacity-50 text-center p-4 my-5"
    data-aos="fade-down"
    data-aos-easing="ease-out-back"
  >
    <img src="./assets/images/Frame 2.png" class="w-75" />
    <div class="h4 mb-0 mt-4">
      <span> Join our </span>
      <p class="text-light d-inline-block position-relative">
        <svg
          class="position-absolute start-50 translate-middle top-50 z-0"
          width="110%"
          height="110%"
          viewBox="0 0 575 61"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M34.1214 6.52585C216.97 -2.33588 369.782 -0.830722 560.74 5.64948C569.871 6.01262 576.188 8.66438 574.812 11.5611C568.788 25.107 564.909 37.9829 563.18 50.189C563.054 52.6887 555.988 54.9098 547.45 55.1462C369.771 61.0916 195.523 61.9248 24.7033 57.646C16.4166 57.4349 8.75548 55.0787 7.5672 52.3931C1.33397 39.6692 7.52573 27.9021 0 15.4935C5.5864 10.8126 7.11398 10.0132 15.1432 8.51859"
            fill="#10B0DF"
          />
        </svg>
        <span class="position-relative z-3" i18n
          >International Certificate
        </span>
      </p>
      <span> courses, With Our experts </span>
    </div>
  </section>

  <app-trending-section></app-trending-section>
  <app-about-us-section></app-about-us-section>
  <app-exploring-section></app-exploring-section>
  <app-subscribe-section></app-subscribe-section>
  <app-how-work-section></app-how-work-section>
  <app-top-class-section></app-top-class-section>
  <app-latest-news-section></app-latest-news-section>
</main>
