<main class="overflow-hidden">
  <section class="shadow-sm border-bottom border-5 z-3 py-5 overflow-hidden">
    <!-- Overlay -->
    <img
      src="./assets/images/girl-in-meeting.png"
      class="img-overlay object-fit-cover"
    />
    <div class="overlay"></div>
    <!-- circles -->
    <img
      class="position-absolute top-0 start-0 col-3"
      style="transform: translate(-100px, 0px)"
      src="./assets/icons/bg/bg-circles.svg"
    />

    <div class="container position-relative z-3 pt-5 my-5">
      <h1 class="fw-bolder">
        <span i18n>Become </span>
        <span class="text-light" i18n>An Tutor</span>
      </h1>
    </div>
  </section>

  <app-tutors-statistics></app-tutors-statistics>
  <app-teaching-features></app-teaching-features>
  <app-advice></app-advice>
  <app-create-profile></app-create-profile>
  <app-call-center></app-call-center>
  <app-stores></app-stores>
</main>
