<section class="py-5">
  <div class="container py-5">
    <div class="row justify-content-between py-5">
      <!-- Image -->
      <div class="col-lg-6 position-relative mb-5 mb-lg-0">
        <!-- Explore Our App. blue box -->
        <div
          class="position-absolute top-0 d-none d-md-block"
          style="left: 30%"
          data-aos="fade-down"
          data-aos-easing="ease-out-back"
        >
          <svg
            width="100%"
            viewBox="0 0 370 242"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.509766"
              y="0.125"
              width="368.654"
              height="240.99"
              rx="34.1346"
              fill="url(#paint0_linear_3_1444)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_3_1444"
                x1="0.509768"
                y1="7.29327"
                x2="326.154"
                y2="241.115"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#35ACFE" />
                <stop offset="1" stop-color="#1887D3" />
              </linearGradient>
            </defs>
          </svg>

          <div class="position-absolute top-0 text-light p-4">
            <p class="fs-3 fw-bold m-0">
              Explore <br />
              Our App.
            </p>
          </div>
        </div>

        <!-- right box -->
        <div
          class="position-absolute d-none d-md-block"
          style="top: 35%; left: 60%"
          data-aos="fade-down"
          data-aos-easing="ease-out-back"
        >
          <svg
            width="278"
            height="176"
            viewBox="0 0 278 176"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.0742188"
              y="0.595703"
              width="277.173"
              height="174.769"
              rx="27.3077"
              fill="#6A35FF"
            />
          </svg>
        </div>

        <!-- Gray one -->
        <div
          class="position-absolute d-none d-md-block"
          style="top: 5%"
          data-aos="fade-up"
          data-aos-easing="ease-out-back"
        >
          <svg
            width="176"
            height="175"
            viewBox="0 0 176 175"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.943359"
              y="0.0283203"
              width="174.087"
              height="174.087"
              rx="27.3077"
              fill="#D9D9D9"
            />
          </svg>

          <svg
            class="position-absolute"
            style="top: 65%; left: 66%"
            width="156"
            height="158"
            viewBox="0 0 156 158"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M30.3818 60.1142L0.00195051 60.1142L58.0308 0.378665L58.0308 30.4171C58.0308 56.81 79.4264 78.2056 105.819 78.2056L155.656 78.2056L78.1702 157.739L78.1702 107.903C78.1702 81.5099 56.7746 60.1142 30.3818 60.1142Z"
              fill="#D9D9D9"
            />
          </svg>

          <svg
            class="position-absolute"
            style="top: 108%; left: 108%"
            width="175"
            height="175"
            viewBox="0 0 175 175"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.511719"
              y="0.864502"
              width="174.087"
              height="174.087"
              rx="27.3077"
              fill="#D9D9D9"
            />
          </svg>
          <div
            class="position-absolute top-50 start-50 translate-middle text-center text-light"
          >
            <p class="fs-1 fw-bold m-0">{{ reductionInAnnual }}%</p>
            <span>Reduction In Annual</span>
          </div>
        </div>

        <!-- voilet one -->
        <div
          class="position-absolute d-none d-md-block"
          style="top: 36%; left: -5%"
          data-aos="fade-right"
          data-aos-easing="ease-out-back"
        >
          <svg
            width="220"
            viewBox="0 0 272 265"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              y="0.595703"
              width="271.029"
              height="264.202"
              rx="27.3077"
              fill="#9672FE"
            />
          </svg>

          <div
            class="position-absolute top-50 start-50 translate-middle text-center text-light"
          >
            <span>More Than</span>
            <p class="fs-1 fw-bold m-0">{{ users | numberFormat }}</p>
            <span class="fs-4 fw-bold">Users</span>
          </div>
        </div>

        <!-- bottom one -->
        <div
          class="position-absolute d-none d-md-block"
          style="bottom: 0%; left: 31%"
          data-aos="fade-up"
          data-aos-easing="ease-out-back"
        >
          <svg
            width="369"
            height="176"
            viewBox="0 0 369 176"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.509766"
              y="0.431885"
              width="367.971"
              height="174.769"
              rx="27.3077"
              fill="#9AD0FD"
            />
          </svg>
        </div>

        <div class="text-center text-md-end">
          <img
            width="62%"
            data-aos="fade-right"
            data-aos-easing="ease-out-back"
            src="./assets/images/about-img.png"
          />
        </div>
      </div>

      <!-- text -->
      <div
        class="col-lg-5 d-flex align-items-center"
        data-aos="fade-left"
        data-aos-easing="ease-out-back"
      >
        <div class="px-4">
          <!-- Sup Title -->
          <div class="h2 fw-bold text-capitalize">
            <span i18n>Thousand Of Top</span>

            <p
              class="text-light position-relative d-inline-block text-center m-3 px-3 my-lg-2"
            >
              <svg
                class="position-absolute top-50 start-50 z-n1"
                style="transform: translate(-50%, -50%)"
                width="190"
                height="69"
                viewBox="0 0 181 60"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.19923 8.68563C60.1859 -0.208012 117.414 -1.40306 175.884 5.10048C178.68 5.46493 180.614 8.12624 180.192 11.0334C178.348 24.6281 177.16 37.5504 176.631 49.8004C176.592 52.3091 174.429 54.5382 171.814 54.7755C117.41 60.7423 64.0573 61.5785 11.7537 57.2843C9.21636 57.0724 6.87059 54.7077 6.50675 52.0125C4.59819 39.2427 2.49174 26.6311 0.187424 14.1778C-0.291312 11.5673 1.49916 9.11788 4.18966 8.68563"
                  fill="#14B3E0"
                />
              </svg>
              <span i18n>Courses</span>
            </p>
            <br />
            <span i18n>Now in One Place</span>
          </div>

          <!-- Paragraph -->
          <p class="small text-body-secondary" i18n>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, 
          </p>

          <!-- Features List -->
          <div class="ms-4">
            <p class="h5 mb-3" i18n>The Most World Class Instructors</p>
            <p class="h5 mb-3" i18n>Access Your Class anywhere</p>
            <p class="h5 mb-3" i18n>Flexible Course Plan</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
